
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.card {
    animation: fadeIn 1s ease-in-out;
}

.sign-up-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sign-up-form label {
    font-weight: bold;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="email"],
.sign-up-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-up-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.sign-up-form button[type="submit"]:hover {
    background-color: #0056b3;
}
.pro-name{
  margin-top: 5%;
  width: 100%;
}
.user{
    margin-top: 5%;
    margin-bottom: -5%;
    border: none;
    width: 300px;
    border-radius: 5px;
   text-align: left;
   height: 60px;
   background-color: #9dddba;
}
.hr{
    width: 300px;
}
.mgs{
    color: red;
    font-size: xx-large;
    margin-left: 50%;
}
.left{
    width: 370px;
    background-color: #cedeef;
    height: 90vh;
    overflow-y: scroll;
    position: relative;
} 
  .message {
    word-wrap: break-word;
    max-width: 70%;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .sender {
    margin-left: auto;
    background-color: #6cd189;
    width: fit-content; 
    max-width: 70%;
  }
  
  .receiver {
    background-color: #e8e1e9;
    width: fit-content; 
    max-width: 70%;
  }
  .selected-user-name{
    background-color: rgb(130, 221, 130);
    padding: 10px;
    border-radius: 10px;
  }
  .name{
    margin-left: 2%;
    margin-top: 10px;
  }
  .time {
    font-size: 0.8em;
    color: #666; 
  }
  
  .message-content {
    margin-bottom: 10px;
  }
  
  .sender .time {
    margin-left: 10px; 
  }
  
  .receiver .time {
    margin-right: 10px; 
  }
  @media screen and (min-width: 780px) and (max-width: 1200px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .row {
      width: 100%;
    }
  
    .left {
      width: 100%;
      max-width: 390px; 
      background-color: #cedeef;
      height: 90vh;
      overflow-x: hidden;
    }
  
    .right {
      width: 100%;
      max-width: 600px; 
    }
  
    .mgs {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  .img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
   margin-left: 10px;
  }
  .profile{
   margin-right: 50px;
  }
  .logout{
    margin-right: 0px;
  }
  @media screen and (min-width:550px) and (max-width: 768px) {
  .left{
    margin-top: 10px;
margin-left: 23%;
border-radius: 10px;
  }
.img-chat{
  margin-left: 25%;
}
  }
  @media(max-width:550px){
    .left{
      width: 100%;
    }
    .profile{
      margin-right: 25px;
     }
     .logout{
       margin-right: 0px;
     }
     .single-img {
      position: absolute;
      top: 30% !important;
  }
  .img-chat{
    margin-left: 10%;
  }
  }

  .profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
  }
  .single-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-chat{
  width: 50px;
 border-radius: 50%;
}
