
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.card {
    animation: fadeIn 1s ease-in-out;
}

.sign-up-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sign-up-form label {
    font-weight: bold;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="email"],
.sign-up-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-up-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.sign-up-form button[type="submit"]:hover {
    background-color: #0056b3;
}
.user{
    margin-top: 5%;
    margin-bottom: -5%;
    border: none;
    width: 300px;
   text-align: left;
   height: 40px;
}
.hr{
    width: 300px;
}
.mgs{
    color: red;
    font-size: xx-large;
    margin-left: 50%;
}
.left{
    width: 370px;
    background-color: #cedeef;
    height: 80vh;
    overflow-y: scroll;
} 
  .message {
    word-wrap: break-word;
    max-width: 70%;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .sender {
    margin-left: auto;
    background-color: #6cd189;
  }
  
  .receiver {
    background-color: #e8e1e9;
  }
  .selected-user-name{
    background-color: rgb(130, 221, 130);
    padding: 10px;
    border-radius: 10px;
  }
  .name{
    margin-left: 25%;
  }